.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.total {
  padding: 15px !important;
  border: 2px solid black;
}

img {
  height: 150px;
}

.carts {
  margin-bottom: 4px;
}

.cart-icon {
  font-size: 30px !important;
}

.add-btn {
  border-radius: 20%;
  border: none;
  background-color: green;
  margin-right: 5px;
}

.remove-btn {
  border-radius: 20%;
  border: none;
  background-color: red;
  margin-left: 5px;
}

.popover {
  min-width: 300px;
}

.fill-cart {
  margin: 4px;
  padding: 6px;
}

.notifyContainer {
  position: relative;
  width: 50px;
}

.notify {
  position: absolute;
  top: 0;
  right: 0;
}

.hidden {
  display: none;
}

.active {
  background-color: #6d28d9 !important;
}
.hov:hover{
  background-color: #6d28d9 !important;
  color: white !important;
}
.cart-badge{
  background-color: #6d28d9 !important;
}
span{
  color: rgb(106, 101, 94);
}

.activetype{
  color: white;
}
.activetypecursor:hover{
  cursor: pointer;
}
.popover-cart{
  padding: 10px;
}